
body.logreg {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: {
        image: asset-url("reglogback1.jpg");
    }
    
}

.letrablanca{
  margin-top: 0;
  color: #fff;
}

 .map {
   min-width: 300px;
   min-height: 300px;
   width: 100%;
   height: 100%;
 }
 .map2 {
   min-width: 300px;
   min-height: 300px;
   width: 100%;
   height: 450px;
   margin: 0px 0px 0px 0px;
 }

.legend {
  color: #36A0FF;
  height: 70px;
  font-size: 27px;
  padding: 5%;
  border-bottom:0;
}


strong { font-weight: 500; }

a, a:hover, a:focus, a:visited {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
	font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

h5 {
	font-size: 21px;
    font-weight: 300;
    color: #fff;
  margin: -23px auto;
}


img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

/***** Select*****/
.btn-file {
    position: relative;
    overflow: hidden;
    background: #197ee75c;
    color: white;

}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.row{
	margin: 0;
}

/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}


.select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.select select {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: #7b7b7b;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #e6e6e6;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select select::-ms-expand {
	display: none;
}

.select select:hover,
.select select:focus {
	color: #000;
	background: #ccc;
}

.select select:disabled {
	pointer-events: none;
	opacity: .5;
}

.select__arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
}





.side {
  font-size: 30px;
  cursor: pointer;
  float: left;
  color: white;
}

/***** SideNav *****/
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #5e86c3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 130px;
    font-family: "Lato", sans-serif;
  &#mySidenav {
	  width: 0;
	}
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #5e86ca;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 90px;
    color:white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 70px;
}
.tablas{
  margin: auto -180px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top1 {
	overflow: hidden;
	padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: center;
	width: 480px;
}

.form-pass{
	margin: auto;
	overflow: hidden;
	padding: 0 25px 15px 0;
    background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: center;
	width: 650px;
}

.form-pass1{
  width: 750px;
  
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;

    h3 { margin-top: 0;color: #fff; }
    p { opacity: 0.8;  color: #fff;
}
}

.form-top-left1 {
	float: left;
	width: 650px;
	padding-top: 25px;

    h3 { margin-top: 0;color: #fff; }
    p { opacity: 0.8;  color: #fff;
}
}
.form-top-left1_1{
  width: 750px;
} 

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
  background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	width: auto;
	
}

.form-bottom1 {
	padding: 25px 25px 30px 25px;
  background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: center;
	width:480px;
}

.form-bottompass {
	padding: 25px 25px 30px 25px;
	margin: auto;
  background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: center;
	width:650px;
}

.form-bottompass1 {
	width:750px;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/*!***** Footer *****!*/

/*footer {*/
	/*padding-bottom: 70px;*/
	/*color: #fff;*/
/*}*/

/*footer .footer-border {*/
	/*width: 200px;*/
	/*margin: 0 auto;*/
	/*padding-bottom: 30px;*/
	/*border-top: 1px solid #fff;*/
	/*border-top: 1px solid rgba(255, 255, 255, 0.6);*/
/*}*/

/*footer p { opacity: 0.8; }*/

/*footer a {*/
	/*color: #fff;*/
/*}*/
/*footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }*/


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}

