<h1 id="page_title">Say Hello!</h1>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<div class="container">
    <h1>¡Gracias por tu mensaje!</h1>
    <p> Nos comunicaremos pronto </p>
</div>