<div>
  <div class ="map2" id="map" ></div>
</div>
<script type="text/javascript">
  var marker;
  handler = Gmaps.build('Google');
  handler.buildMap({ 
    provider: {
      zoom: 10,
      center: new google.maps.LatLng(4.635540,-74.082807),
    }, 
    internal: {
      id: 'map'
    }});
  
  google.maps.event.addListener(handler.getMap(), 'click', function(event) 
  {
      if(marker){
        marker.setPosition(event.latLng);
      }
      else{
        placeMarker(event.latLng);
      }
        dir(event.latLng); 
  })
  

  

  function placeMarker(location) {
    marker = new google.maps.Marker({
        position: location, 
        map: handler.getMap(),
        draggable: true
    });
    
     google.maps.event.addListener(marker, "dragend", function() {
      dir(marker.getPosition());
    });

  }
  
    function dir (latlng)
    {
      document.getElementById('report_site_attributes_lat').value = latlng;
      var aux = document.getElementById('report_site_attributes_lat').value.substr(1,document.getElementById('report_site_attributes_lat').value.length - 2).split(",");
      document.getElementById("report_site_attributes_lat").value = aux[0];
      document.getElementById("report_site_attributes_lng").value = aux[1];  
        
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({'location': latlng}, function(results, status) 
      {
        document.getElementById("report_site_attributes_name").value = results[1].formatted_address;
      });
  }
    
</script>
