<% if signed_in? %>

<div class='col-sm-3 col-md-2 sidebar'>
  <ul class= 'nav nav-sidebar'>
    <li class='sidebar_overview'>
      <%= link_to 'Overview', '#'%>
    </li>
      
    
  </ul>
  
</div>

<% end %>